form{
	border: 3px solid #CCC;
}
body{
	background-image: url('background.png');
	color: #000305;
	font-size: 87.5%; /*Base font is 14px*/
	font-family: Arial, 'Lucida Sans Unicode';
	line-height: left;
}
input[type=text], input[type=password]{
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #666;
	box-sizing: border-box;
}
button{
	background-color: #CF5C3F;
	color: #FFF;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
}
.cancelbtn{
	width: auto;
	padding: 10px 18px;
	background-color: #CC2900;
}
.imgcontainer{
	text-align: center;
	margin: 24px 0 12px 0;
}
img.avatar{
	width: 40%;
	border-radius: 50%;
}
.container{
	padding: 16px;
}
span.pswd{
	float: right;
	padding-top: 16px;
}

@media screen and(min-width: 150px) and (max-width: 600px){
	span.pswd{
		display: block;
		float: none;
	}
	.cancelbtn{
		width: 100%;
	}
}